li {
    background-image: url("../image/unchecked.png");
    background-size:10px 10px;
    background-repeat: no-repeat;
    background-position: left center ;
    padding-left: 40px;
}
.checked{
    background-image: url("../image/checked.png");
    background-size:10px 10px;
    background-repeat: no-repeat;
    background-position: left center ;
    padding-left: 40px;
}